/* common styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: #89142d;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* header styles */

header {
    background-color: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-text * {
    margin-bottom: 30px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* featured section styles */

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0 0;
    padding: 20px 25px 0;
    height: 400px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .blue {
    background-color: rgba(167, 33, 98, 0.15);
}

.section-content .flower .pink {
    background-color: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background-color: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
    text-decoration-line: underline;
}

.section-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 75%;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
}

.section-info {
    text-align: center;
}

.section-info .section-img {
    margin-bottom: 20px;
}

.hot-deals {
    background-color: rgba(229, 84, 115, 0.05);
    margin: 100px 0;
}

.hot-deals-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 80px 0;
}

.hot-deals .hot-deals-text {
    width: 75%;
    max-width: 450px;
    text-align: center;
}

.hot-deals .hot-deals-text * {
    margin-bottom: 20px;
}

.hot-deals .hot-deals-text h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.hot-deals .hot-deals-text h2 .important {
    color: #E55473;
}

.hot-deals .hot-deals-img {
    max-width: 320px;
}

.insta-section {
    width: 75%;
    max-width: ;
    margin: 0 auto 100px auto;
}

.section-heading {
    margin-bottom: 40px;
}

.insta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.insta-info .insta-img {
    max-width: 300px;
}

.insta-info .insta-img img {
    width: 100%;
}

.newsletter {
    margin-bottom: 130px;
}

.newsletter-content {
    background-image: url('../images/bg9.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    padding: 60px 0;
}

.newsletter form {
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    gap: 10px;
}

.newsletter form input {
    flex-grow: 1;
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: rgba(39, 39, 39, 0.60);
    background: #FFF;
}

.footer-section {
    background-color: #111010;
}
.footer-content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.footer-content h2 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-content h2 .important-footer {
    color: #FFF;
}

.footer-content p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer-content small{
    color: rgba(255, 255, 255, 0.40);
}